.stepLabel {
  display: "flex";
  gap: "10px";
}

.stepIcon {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: solid 1px #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepIcon.is-firstStep::before {
  content: "出";
}

.stepIcon.is-lastStep::before {
  content: "着";
}
